@media screen and (max-width:700px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    .curso-principal {
        
            background:  url('../img/capa2.jpg');
            height: 200px;
            background-size: cover;
           
    }
    .botao{
        background-color: rgba(0,0,0,.50);
        border:none;
        color: white;
        padding: 9px;
        margin-top: 60px;
        font-size: 12px;
        margin-left: 5px;
        width: 300px;
        float: left;
    }
}